# **Project 3: Network and Sentiment Analysis of Yelp Restaurant Reviews?**    
**Group members: Jacob Silver, Justin Williams, Gregg Maloy**

Blah

**Part 1: Load Packages & Exploratory Analysis**   
Blah

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import networkx as nx
from networkx.algorithms import bipartite
import json

###file size is 4 gigs so i had to download to my machine and reference.  
##there are other files with different attributes but these are the two files which contain the info we need i think
user_json_path_business = 'C:/Users/maric/Documents/CUNYDataScience/620/final_project/yelp_academic_dataset_business.json'
user_json_path_review   = 'C:/Users/maric/Documents/CUNYDataScience/620/final_project/yelp_academic_dataset_review.json'

df_r = pd.read_json(user_json_path_review, lines=True)
df_b = pd.read_json(user_json_path_business, lines=True)

In [2]:
#this is the review file with user id, review id and business id 

print(df_r.head(10))

unique_review_ids = df_r['review_id'].nunique()
print("Number of unique review_ids:", unique_review_ids)

unique_business_id = df_r['business_id'].nunique()
print("Number of unique business_id:", unique_business_id)

unique_user_id = df_r['user_id'].nunique()
print("Number of unique user_id:", unique_user_id)

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
5  JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg
6  6AxgBCNX_PNTOxmbRSwcKQ  r3zeYsv1XFBRA4dJpL78cw  gmjsEdUsKpj9Xxu6pdjH0g
7  _ZeMknuYdlQcUqng_Im3yg  yfFzsLmaWF2d4Sr0UNbBgg  LHSTtnW3YHCeUkRDGyJOyw
8  ZKvDG2sBvHVdF5oBNUOpAQ  wSTuiTk-sKNdcFyprzZAjg  B5XSoSG3SfvQGtKEGQ1tSQ
9  pUycOfUwM8vqX7KjRRhUEA  59MxRhNVhU9MYndMkz0wtw  gebiRewfieSdtt17PTW6Zg

   stars  useful  funny  cool  \
0      3       0      0     0
1      5       1      0     1
2      3       0      0     0
3      5       1      0     1
4      4       1      0     1
5      1       1      2     1
6      5       0      2     0
7      5       2      0     0
8      3       1      1     0
9      3       0      0     0

                                                text                date
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15
5  I am a long term frequent customer of this est... 2015-09-23 23:10:31
6  Loved this tour! I grabbed a groupon and the p... 2015-01-03 23:21:18
7  Amazingly amazing wings and homemade bleu chee... 2015-08-07 02:29:16
8  This easter instead of going to Lopez Lake we ... 2016-03-30 22:46:33
9  Had a party of 6 here for hibachi. Our waitres... 2016-07-25 07:31:06
Number of unique review_ids: 6990280
Number of unique business_id: 150346
Number of unique user_id: 1987929

In [3]:
##this is the business file which would allow us to filter by city or state if we want, as well if business is open or closed



print(df_b.head(10))

#unique_review_ids = df_b['review_id'].nunique()
#print("Number of unique review_ids:", unique_review_ids)

unique_business_id = df_b['business_id'].nunique()
print("Number of unique business_id:", unique_business_id)

#unique_user_id = df_b['user_id'].nunique()
#print("Number of unique user_id:", unique_user_id)

              business_id                      name  \
0  Pns2l4eNsfO8kk83dixA6A  Abby Rappoport, LAC, CMQ
1  mpf3x-BjTdTEA3yCZrAYPw             The UPS Store
2  tUFrWirKiKi_TAnsVWINQQ                    Target
3  MTSW4McQd7CbVtyjqoe9mw        St Honore Pastries
4  mWMc6_wTdE0EUBKIGXDVfA  Perkiomen Valley Brewery
5  CF33F8-E6oudUQ46HnavjQ            Sonic Drive-In
6  n_0UpQx1hsNbnPUSlodU8w           Famous Footwear
7  qkRM_2X51Yqxk3btlwAQIg            Temple Beth-El
8  k0hlBqXX-Bt0vf1op7Jr1w     Tsevi's Pub And Grill
9  bBDDEgkFA1Otx9Lfe7BZUQ            Sonic Drive-In

                                      address            city state  \
0                      1616 Chapala St, Ste 2   Santa Barbara    CA
1             87 Grasso Plaza Shopping Center          Affton    MO
2                        5255 E Broadway Blvd          Tucson    AZ
3                                 935 Race St    Philadelphia    PA
4                               101 Walnut St      Green Lane    PA
5                               615 S Main St    Ashland City    TN
6  8522 Eager Road, Dierbergs Brentwood Point       Brentwood    MO
7                          400 Pasadena Ave S  St. Petersburg    FL
8                           8025 Mackenzie Rd          Affton    MO
9                         2312 Dickerson Pike       Nashville    TN

  postal_code   latitude   longitude  stars  review_count  is_open  \
0       93101  34.426679 -119.711197    5.0             7        0
1       63123  38.551126  -90.335695    3.0            15        1
2       85711  32.223236 -110.880452    3.5            22        0
3       19107  39.955505  -75.155564    4.0            80        1
4       18054  40.338183  -75.471659    4.5            13        1
5       37015  36.269593  -87.058943    2.0             6        1
6       63144  38.627695  -90.340465    2.5            13        1
7       33707  27.766590  -82.732983    3.5             5        1
8       63123  38.565165  -90.321087    3.0            19        0
9       37207  36.208102  -86.768170    1.5            10        1

                                          attributes  \
0                      {'ByAppointmentOnly': 'True'}
1             {'BusinessAcceptsCreditCards': 'True'}
2  {'BikeParking': 'True', 'BusinessAcceptsCredit...
3  {'RestaurantsDelivery': 'False', 'OutdoorSeati...
4  {'BusinessAcceptsCreditCards': 'True', 'Wheelc...
5  {'BusinessParking': 'None', 'BusinessAcceptsCr...
6  {'BusinessAcceptsCreditCards': 'True', 'Restau...
7                                               None
8  {'Caters': 'True', 'Alcohol': 'u'full_bar'', '...
9  {'RestaurantsAttire': ''casual'', 'Restaurants...

                                          categories  \
0  Doctors, Traditional Chinese Medicine, Naturop...
1  Shipping Centers, Local Services, Notaries, Ma...
2  Department Stores, Shopping, Fashion, Home & G...
3  Restaurants, Food, Bubble Tea, Coffee & Tea, B...
4                          Brewpubs, Breweries, Food
5  Burgers, Fast Food, Sandwiches, Food, Ice Crea...
6  Sporting Goods, Fashion, Shoe Stores, Shopping...
7                Synagogues, Religious Organizations
8  Pubs, Restaurants, Italian, Bars, American (Tr...
9  Ice Cream & Frozen Yogurt, Fast Food, Burgers,...

                                               hours
0                                               None
1  {'Monday': '0:0-0:0', 'Tuesday': '8:0-18:30', ...
2  {'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ...
3  {'Monday': '7:0-20:0', 'Tuesday': '7:0-20:0', ...
4  {'Wednesday': '14:0-22:0', 'Thursday': '16:0-2...
5  {'Monday': '0:0-0:0', 'Tuesday': '6:0-22:0', '...
6  {'Monday': '0:0-0:0', 'Tuesday': '10:0-18:0', ...
7  {'Monday': '9:0-17:0', 'Tuesday': '9:0-17:0', ...
8                                               None
9  {'Monday': '0:0-0:0', 'Tuesday': '6:0-21:0', '...
Number of unique business_id: 150346

In [4]:
#left joining reviewer file with business file in case we want to limit reviews to geographical area

merged_df = df_r.merge(df_b, how='left', on='business_id')

In [5]:
#descriptive stats of the new merged df

print(merged_df.head(10))

unique_review_ids = merged_df['review_id'].nunique()
print("Number of unique review_ids:", unique_review_ids)

unique_business_id = merged_df['business_id'].nunique()
print("Number of unique business_id:", unique_business_id)

unique_user_id = merged_df['user_id'].nunique()
print("Number of unique user_id:", unique_user_id)

                review_id                 user_id             business_id  \
0  KU_O5udG6zpxOg-VcAEodg  mh_-eMZ6K5RLWhZyISBhwA  XQfwVwDr-v0ZS3_CbbE5Xw
1  BiTunyQ73aT9WBnpR9DZGw  OyoGAe7OKpv6SyGZT5g77Q  7ATYjTIgM3jUlt4UM3IypQ
2  saUsX_uimxRlCVr67Z4Jig  8g_iMtfSiwikVnbP2etR0A  YjUWPpI6HXG530lwP-fb2A
3  AqPFMleE6RsU23_auESxiA  _7bHUi9Uuf5__HHc_Q8guQ  kxX2SOes4o-D3ZQBkiMRfA
4  Sx8TMOWLNuJBWer-0pcmoA  bcjbaE6dDog4jkNY91ncLQ  e4Vwtrqf-wpJfwesgvdgxQ
5  JrIxlS1TzJ-iCu79ul40cQ  eUta8W_HdHMXPzLBBZhL1A  04UD14gamNjLY0IDYVhHJg
6  6AxgBCNX_PNTOxmbRSwcKQ  r3zeYsv1XFBRA4dJpL78cw  gmjsEdUsKpj9Xxu6pdjH0g
7  _ZeMknuYdlQcUqng_Im3yg  yfFzsLmaWF2d4Sr0UNbBgg  LHSTtnW3YHCeUkRDGyJOyw
8  ZKvDG2sBvHVdF5oBNUOpAQ  wSTuiTk-sKNdcFyprzZAjg  B5XSoSG3SfvQGtKEGQ1tSQ
9  pUycOfUwM8vqX7KjRRhUEA  59MxRhNVhU9MYndMkz0wtw  gebiRewfieSdtt17PTW6Zg

   stars_x  useful  funny  cool  \
0        3       0      0     0
1        5       1      0     1
2        3       0      0     0
3        5       1      0     1
4        4       1      0     1
5        1       1      2     1
6        5       0      2     0
7        5       2      0     0
8        3       1      1     0
9        3       0      0     0

                                                text                date  \
0  If you decide to eat here, just be aware it is... 2018-07-07 22:09:11
1  I've taken a lot of spin classes over the year... 2012-01-03 15:28:18
2  Family diner. Had the buffet. Eclectic assortm... 2014-02-05 20:30:30
3  Wow!  Yummy, different,  delicious.   Our favo... 2015-01-04 00:01:03
4  Cute interior and owner (?) gave us tour of up... 2017-01-14 20:54:15
5  I am a long term frequent customer of this est... 2015-09-23 23:10:31
6  Loved this tour! I grabbed a groupon and the p... 2015-01-03 23:21:18
7  Amazingly amazing wings and homemade bleu chee... 2015-08-07 02:29:16
8  This easter instead of going to Lopez Lake we ... 2016-03-30 22:46:33
9  Had a party of 6 here for hibachi. Our waitres... 2016-07-25 07:31:06

                              name  ... state postal_code   latitude  \
0     Turning Point of North Wales  ...    PA       19454  40.210196
1       Body Cycle Spinning Studio  ...    PA       19119  39.952103
2                Kettle Restaurant  ...    AZ       85713  32.207233
3                            Zaika  ...    PA       19114  40.079848
4                             Melt  ...    LA       70119  29.962102
5                         Dmitri's  ...    PA       19147  39.938013
6       The Voodoo Bone Lady Tours  ...    LA       70170  29.952030
7                  Fries Rebellion  ...    PA       18951  40.407537
8       Los Padres National Forest  ...    CA       93105  34.597239
9  Hibachi Steak House & Sushi Bar  ...    CA       93101  34.416984

    longitude  stars_y  review_count  is_open  \
0  -75.223639      3.0           169        1
1  -75.172753      5.0           144        0
2 -110.980864      3.5            47        1
3  -75.025080      4.0           181        1
4  -90.087958      4.0            32        0
5  -75.148131      4.0           273        0
6  -90.070334      4.5           359        1
7  -75.338825      3.5           103        0
8 -119.510772      4.5            13        1
9 -119.695556      3.5           488        1

                                          attributes  \
0  {'NoiseLevel': 'u'average'', 'HasTV': 'False',...
1  {'BusinessAcceptsCreditCards': 'True', 'GoodFo...
2  {'RestaurantsReservations': 'True', 'BusinessP...
3  {'Caters': 'True', 'Ambience': '{'romantic': F...
4  {'BusinessParking': '{'garage': False, 'street...
5  {'BusinessParking': '{'garage': False, 'street...
6                            {'GoodForKids': 'True'}
7  {'RestaurantsAttire': ''casual'', 'Ambience': ...
8  {'GoodForKids': 'True', 'BikeParking': 'True',...
9  {'Corkage': 'False', 'RestaurantsTakeOut': 'Tr...

                                          categories  \
0  Restaurants, Breakfast & Brunch, Food, Juice B...
1  Active Life, Cycling Classes, Trainers, Gyms, ...
2                    Restaurants, Breakfast & Brunch
3              Halal, Pakistani, Restaurants, Indian
4  Sandwiches, Beer, Wine & Spirits, Bars, Food, ...
5         Mediterranean, Restaurants, Seafood, Greek
6  Supernatural Readings, Tours, Hotels & Travel,...
7  Beer Bar, Bars, American (New), Gastropubs, Re...
8                                 Parks, Active Life
9     Steakhouses, Sushi Bars, Restaurants, Japanese

                                               hours
0  {'Monday': '7:30-15:0', 'Tuesday': '7:30-15:0'...
1  {'Monday': '6:30-20:30', 'Tuesday': '6:30-20:3...
2                                               None
3  {'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21...
4  {'Monday': '0:0-0:0', 'Friday': '11:0-17:0', '...
5  {'Wednesday': '17:30-21:0', 'Thursday': '17:30...
6  {'Monday': '10:0-22:0', 'Tuesday': '10:0-22:0'...
7  {'Wednesday': '11:0-23:0', 'Thursday': '11:0-2...
8                                               None
9                              {'Monday': '0:0-0:0'}

[10 rows x 22 columns]
Number of unique review_ids: 6990280
Number of unique business_id: 150346
Number of unique user_id: 1987929

In [6]:
#limit to those open restaurants only???? i dunno
# 1 = open, 0 = closed
merged_df = merged_df[merged_df['is_open']==1]

In [7]:
df_explode = merged_df.assign(categories=merged_df.categories.str.split(', ')).explode('categories')

# Count all categories
category_counts = df_explode['categories'].value_counts()

# Filter for restaurants only
restaurant_df = df_explode[df_explode['categories'].str.contains('Restaurants', case=True, na=False)]
restaurant_categories = restaurant_df['categories'].value_counts()

print('Total number of restaurant categories:', len(restaurant_categories))
print('Top 10 Restaurant Categories:')
#print(restaurant_categories[:10])
#print(restaurant_df[:10])

Total number of restaurant categories: 2
Top 10 Restaurant Categories:

In [32]:
##number of rows/reviews in df that where category coluymn is filtered to 'Restaurants'

num_rows = len(restaurant_df)
print("Number of rows:", num_rows)

Number of rows: 3777208

In [8]:
### here are the # of reviews by city. do we want to limit to one city to make more manageable?

grouped_restaurant = restaurant_df.groupby('city')
restaurant_count_by_city = grouped_restaurant.size().sort_values(ascending=False)
print(restaurant_count_by_city)

city
Philadelphia        511384
New Orleans         396258
Nashville           267392
Tampa               244494
Tucson              201342
                     ...
Rural Hill               5
Oldmans Township         5
St Petersurg             5
Liverpool                5
Valencia West            5
Length: 846, dtype: int64

In [ ]:
##############i tried graphing the entire network and let it run for 30 min.
##############3 million rows is too much so we should probably limit to a city or something else

In [ ]:
######################BELOW IS A DIFFERENT ASSIGNMENT. I AM USING A THIS FILE AS A TEMPLATE

In [ ]:
####STTTTTTTTTTTTTTTTTOOOOOOOOOPPPPPP

In [ ]:
####STOP

In [ ]:
#Create the bipartite graph
#graph = nx.Graph()


    
#plt.show()
#graph.add_nodes_from(restaurant_df['user_id']      ,bipartite=1, with_labels=False)
#graph.add_nodes_from(restaurant_df['business_id'],bipartite=0, with_labels=False)
##tesing data- for each node there is at least one edge
#print(nx.is_connected(graph))

##Returns True if graph G is bipartite, False if not.
#print(nx.is_bipartite(graph)) 
#node_colors = ['blue' if node_type == 1 else 'red' for node_type in nx.get_node_attributes(graph, 'bipartite').values()]

#for i in range(len(restaurant_df)):
#  graph.add_edges_from([(restaurant_df.iloc[i,1],restaurant_df.iloc[i,0])])

#plt.figure(figsize=(25,25))
#plt.text(0.5, 1.05, "reviewers (red) and restaurants (blue)", fontsize=24, ha='center', transform=plt.gca().transAxes)
#nx.draw_networkx(graph, with_labels=False, node_size=25,node_color=node_colors)
#plt.show()