# Querying Yelp using GraphQL
This is a beta program, but contrary to the other Yelp APIs, allows us to completely customize our querys, only obtaining the data we'll need for our analysis.

Below is an example of how to utilize the `GraphQL` Yelp API to query 10 coffee shops in Brooklyn 11222 postal code.

For detailed instructions please reference [Getting Started with Yelp GraphQL](https://docs.developer.yelp.com/docs/graphql-intro)

In [6]:
# import packages
import requests
import pandas as pd
import sys
sys.path.append('src') # add src folder to path

# import api key
from config import YELP_API

First we need to set our `headers` and `url`.<br>
The API key needs to be approved for beta use, so prior to making any queries, goto the `Manage Account` section of your Yelp profile and approve for beta use.

In [7]:
# set up headers and access token
headers = {
    "Authorization": f"Bearer {YELP_API}",
    "Content-Type": "application/json"
}

# set url
url = "https://api.yelp.com/v3/graphql"

Next we perform the business query.<br>
We don't want to query the reviews yet, because we have a **one-to-many relationship**, meaning we will have multiple reviews for each business (limiting to 5 in this demo).

In [22]:
# basic query
businesses_query = """
{
  search(location: "Brooklyn 11222", categories: "coffee", limit: 75) {
    business {
      id
      name
      rating
      review_count
    }
  }
}
"""

We make the API call with the `requests` package passing the query and the headers for authentication.<br>
After this we convert the response to json, this will allow us to smoothly parse into lists and eventually dataframes.

In [23]:
# api call to fetch businesses
response = requests.post(url, json={"query": businesses_query}, headers=headers)
data = response.json()

In [ ]:
# extract info
businesses = data["data"]["search"]["business"]

# data storage lists
business_data = []
review_data = []

# iterate over the businesses and fetch their reviews
for business in businesses:
    # fetch reviews for the current business
    reviews_query = f"""
    {{
      business(id: "{business['id']}") {{
        reviews(limit: 5) {{
          user {{
            name
            id
          }}
          rating
          text
        }}
      }}
    }}
    """
    # api call to fetch reviews
    reviews_response = requests.post(url, json={"query": reviews_query}, headers=headers)
    reviews_data = reviews_response.json()
    
    # extract info
    reviews = reviews_data["data"]["business"]["reviews"]

    # store business data
    business_data.append({
        "business_id": business["id"],
        "business_name": business["name"],
        "rating": business["rating"],
        "review_count": business["review_count"]
    })

    # store review data
    for review in reviews:
        review_data.append({
            "business_id": business["id"],
            "review_user_id":review["user"]["id"],
            "review_user": review["user"]["name"],
            "review_rating": review["rating"],
            "review_text": review["text"]
        })

Create two dataframes:
- one for businesses
- one for reviews

Having separate dataframes will allow us to explore the **one-to-many** relationship between business and reviews.

In [11]:
# business df
business_df = pd.DataFrame(business_data)

# reviews df
review_df = pd.DataFrame(review_data)

Look at contents

In [12]:
business_df

,business_id,business_name,rating,review_count
0,1Q3oaJahyGRogDWgpo7PIw,Five Leaves,4.0,1725
1,kpxXi23lUQkeJQH-2BtzDw,Qahwah House,4.5,355
2,AfZPx4piTmg9dqZpYgYTgg,Moe's Doughs Donut Shop,4.5,374
3,YpGxtJy9ErnjfGG6DXy5uA,Coffee Shop,4.5,376
4,VdAVjghEq_Zl-DDte0mjrw,ACRE,4.5,109
5,s1pJHjoce-IbHQiCe4mA3w,Martha's Country Bakery,4.5,994
6,QaDOWy4-11982JWIxpImNQ,Little Choc Apothecary,4.5,546
7,UpPXAjKc-CyuCg72chwd3A,Lella Alimentari,4.5,237
8,qXuUBEaib4caLC6WCPhBjA,Patisserie Tomoko,4.5,413
9,k17DEW9TqRZf6EFSc49OsA,Bakeri,4.0,407
10,AVD3Qo2VHRDfbPKL09lmfA,Charlotte Patisserie,4.0,250
11,yBBKdMVbGjSPAgxhDT8zMg,Early,4.5,121
12,nyqK-hAA8ZKYar9PuQiBiA,Bakeri,4.0,125
13,VLC2DROxvGX-ka_aBmJN9w,Social House Cafe,4.5,27
14,PDLYcA21uXCAlqRAkQLNNw,Ovenly Greenpoint,4.0,236
15,jZZMmT7Mk3S-fNjXcq3Ksg,Devocion,4.0,581
16,ALChdXIVE0712hrwMgPPCA,Pueblo Querido,4.5,89
17,nLQ5QcVlJ5X8SuLu33eVWw,Fortunato Brothers,4.0,488
18,7-yC49tlWreX6TQtMNFSFg,Kitsby,4.5,336
19,Hsxa_mmJzDnD0RApdacGgw,Ba'sik,4.5,128
20,3xTlLfIwh_IFkxoXNU8tYQ,Bagel Point,3.5,288
21,MJFtBv5iCEGXmMaLB8SD2g,The Butchers Daughter,3.5,261
22,v9bbNVQUA0OJzJKAcn_r4w,Hole In The Wall - Williamsburg,4.0,157
23,enDIsmxSG2bQccQWgGNcbg,Takumen,4.0,302
24,Squ63x4mPza2RRvlkMb4yw,Martha's Country Bakery,4.0,431
25,ipygjHXH9PqQS6aqU54RcQ,Partners Coffee - Brooklyn,4.0,528
26,uL709qg0IGe4KsNZk_AjxQ,Lion's Milk,4.5,169
27,DO91C6baD0RSO-AN6cKCCA,The West,4.0,246
28,YjF9sx5aP-ILFHcliG4MnQ,Café Grumpy,4.0,289
29,U3Ueh2bHtp3DLjrdc5w5fQ,Remi Flower & Coffee,4.5,599
30,NGfltxqJQ4x9w7L0x2VDFw,Baba Cool,4.5,52
31,njT8BG1rD9XiWgnCDVPEkA,Nippon Cha,4.5,55
32,Xn_UheApVz6K9heX4vY8PA,Terms of Endearment,4.5,103
33,rokzCpYrZkfm_ZOSb7LzSQ,Land to Sea,4.5,50
34,s7maX59TbCDd4AuyRP_P-A,Cup,4.0,108
35,3dP2gdfDLr-YEVmopobJpA,Chip City - Williamsburg,4.5,61
36,oqI3P8XzyFZ_msmXIxbv-A,Copper Mug Coffee,4.5,127
37,SGfOjjbGHVsaMLEhhjlrsQ,Greta Coffee and Kitchen,4.0,16
38,YTYxc-Q8A3gRxjBr4nz_Xw,Upright Coffee,4.5,143
39,tq7dDT6edTInhkNdDrYv_w,Black Brick,4.0,345
40,v4d2TBqxMmNzWNvShkvRrA,FREEHOLD,3.5,588
41,Va0ExTz0-rqKgzhFE6sgAg,Serendipity BK,4.5,30
42,3Y9-RcS2FyQrSx0NH891GA,Alita Cafe,4.5,39
43,LbgBFEdSkWyQ06rGN1t4uQ,Gelateria Gentile,4.5,271
44,AIFWQIQR51YopTHOShIVBA,51st Bakery and Cafe,4.5,207
45,Joam1kRdZM2m2w8qiezI0w,The Coffee Shop,5.0,10
46,mZmUKs7MlzBo1vuKC2E_Yg,Van Leeuwen Ice Cream - Greenpoint,4.0,375
47,p0W-zsmk7hK_PUmAyg9yjQ,Rose Wolf Coffee,4.5,60
48,U1exuSaIwTwpjxvlrKeftg,PPL,4.5,42
49,nLMJL4p7k4jNO4qLMc1wNg,Leo,4.0,97

In [13]:
review_df

,business_id,review_user_id,review_user,review_rating,review_text
0,1Q3oaJahyGRogDWgpo7PIw,FvHYaxYF6mAw67dv_z35Rg,Ava B.,4,I loved the coffee to-go stand here. So glad I...
1,1Q3oaJahyGRogDWgpo7PIw,Sk9smcO5GeU1rY91DrFVew,Marykate M.,1,Clearly the owners/ management of this establi...
2,1Q3oaJahyGRogDWgpo7PIw,2M2GdA9HzcXI5cqECZDqgg,Brandi I.,4,Oh my goodness this place was delicious! The r...
3,kpxXi23lUQkeJQH-2BtzDw,lGZ1juew09lxLRDYAmdtjg,Sophia C.,5,Perfect chill spot to catch up with a friend! ...
4,kpxXi23lUQkeJQH-2BtzDw,zeTbYRLUK70R_3thy_L26A,Theo W.,5,This place lives up to the hype. \n\nI tried a...
...,...,...,...,...,...
145,U1exuSaIwTwpjxvlrKeftg,6iJroP8frO-EEjjA9p9rjQ,Lucia P.,5,I walked by this cafe while walking around the...
146,U1exuSaIwTwpjxvlrKeftg,NT5PIrm_5PMIvhKThayOIg,Katey G.,5,This is a beautiful little cafe where they met...
147,nLMJL4p7k4jNO4qLMc1wNg,HGUyWBhs0Jnmif7NZWKYrg,Julia H.,4,I pass by Leo almost every day and it's always...
148,nLMJL4p7k4jNO4qLMc1wNg,wsdtHpgw45hpju4mREenoQ,Andrew T.,5,DELICIOUS. I got a recommendation from a frien...
149,nLMJL4p7k4jNO4qLMc1wNg,3Ypn6ko0ctadij2sCaickQ,Jade B.,1,I've been to Leo several times now and each ti...

In [15]:
review_df.groupby('review_user_id').size().sort_values(ascending=False)

review_user_id
bd0okEGblYceUqC9f9uTcg    4
HGUyWBhs0Jnmif7NZWKYrg    3
jQveoxxClSrkeyDnpHEX9g    3
P7NHWUJlApHDaBlT-vFceg    2
-yEhhXT6URxh_yxHko5Gzg    2
                         ..
JPH-WOKa6EBMlpBGLIPuiw    1
JI4imSXT0MINFMzeu5aAkw    1
JC7Q8D6l_oPyhyIkV_d-7g    1
IOIeFGUy3F5oeSszVoJpcg    1
zmUFr36jkcP2M7qLRHuoWA    1
Length: 138, dtype: int64

Pickle dataframes for future analysis.

In [25]:
# pickle df
business_df.to_pickle("./data/business_df.pkl")
review_df.to_pickle("./data/reviews_df.pkl")